/*
  This CSS file is following some of the standards of https://github.com/necolas/idiomatic-css. 
  
  The flow should reflect the document by category.
*/

/* General Selectors */

* {
    /* Display & Box-Model */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* Visuals */
    background-color: #d9dcd6;
}

a {
    /* Visuals */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* Visuals */
    font-size: 16px;
}

/* To follow best practices of avoiding specfic selectors, I took the h2/h3/h4 out and repurposed as general selectors. */

h2 {
    /* Box-Model */
    margin-bottom: 20px;

    /* Visuals */
    font-size: 36px;
}

h3 {
    /* Box-Model */
    margin-bottom: 10px;

    /* Visuals */
    text-align: center;
}

h4 {
    /* Visuals */
    font-size: 20px;
}

/* Class Selectors */

.header {
    /* Box-Model */
    padding: 20px;

    /* Visuals */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.hero {
    /* Display & Box Model */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;

    /* Visuals */
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    /* Postioning */
    float: left;

    /* Box-Model */
    margin-right: 25px;
}

.float-right {
    /* Postioning */
    float: right;

    /* Box-Model */
    margin-left: 25px;
}

.content {
    /* Display & Box-Model */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization, 
.online-reputation-management, 
.social-media-marketing {
    /* Display & Box-Model */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;

    /* Visuals */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.benefits {
    /* Positioning */
    clear: both;
    float: right;

    /* Display & Box-Model */
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;

    /* Visuals */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, 
.benefit-brand, 
.benefit-cost {
    /* Box-Model */
    margin-bottom: 32px;

    /* Visuals */
    color: #ffffff;
}

.footer {
    /* Positioning */
    clear: both;

    /* Box-Model */
    padding: 30px;

    /* Visuals */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Specific Selectors */

.header h1 {
    /* Display */
    display: inline-block;

    /* Visuals */
    font-size: 48px;
}

.header h1 .seo {
    /* Visuals */
    color: #d9dcd6;
}

.header nav {

    /* Positioning */
    float: right;

    /* Box-Model */
    padding-top: 15px;
    margin-right: 20px;

    /* Visuals */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    /* Visuals */
    list-style-type: none;
}

.header nav ul li {
    /* Display & Box-Model */
    display: inline-block;
    margin-left: 25px;
}

.search-engine-optimization img, 
.online-reputation-management img, 
.social-media-marketing img {
    /* Display */
    max-height: 200px;
}

.benefit-lead img, 
.benefit-brand img, 
.benefit-cost img {
    /* Display & Box-Model */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}